<%-  include  ('partials/_header');  -%>
<%-  include  ('partials/_navigation');  -%>
<h1>RESULTADO</h1>

<div id="resultado"></div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>NOMBRE</th>
              <th>CREMA</th>
              <th>PRECIO PROMEDIO</th>
            </tr>
          </thead>
          <tbody id="res">
            
          </tbody>
        </table>
        <!-- <div class="card"><p><%= productos[1].nombre %></p></div> -->
      </div>
    </div>
</div>

<%-  include  ('partials/_footer');  -%>