<div class="space">
  &nbsp;
</div>
<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3 copyright">
      © 2021 Copyright:
      <a href="#">@Steve</a>
    </div>
    <!-- Copyright -->
  </footer>
<script src="scripts/main.js"></script>
<script src="scripts/result.js"></script>
</body>
</html>